:root {
  --bg: #000;
  --active: #ffffff;
  --inactive: #808080;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--active);
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  max-width: 1500px;
}

a:not(.visit) {
  text-decoration: none;
  /* display: block; */
}

/* 메뉴 */

.menu {
  position: fixed;
  right: 5.5%;
  top: 53%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  max-width: 900px;
}

svg {
  display: block;
  margin-bottom: -3rem 
}

.menu .item {
  font-size: 3rem;
  font-weight: 600;
  color: var(--inactive);
  cursor: pointer;
  transition: all 0.5s ease;
}

.menu .item.active {
  color: var(--active);
  transform: translateX(0);
  opacity: 1;
}

.menu .item.inactive {
  transform: translateX(5vw);
  opacity: 0.4;
}

/* 섹션 스타일 */

#main-section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0rem;
  box-sizing: border-box;
}

.main-content {
  max-width: 1000px;
  padding: 2.5rem;
}

#main-section h2 {
  font-size: 9.5rem;
  font-weight: 600;
  margin: 0;
  transform: translate(-0.1rem);
  color: transparent;
  -webkit-text-stroke: 1.5px var(--active);
  font-family: "Noto Sans", sans-serif;
}

#main-section span {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0;
  padding: 1.2rem 0.5rem;
  background-color: rgb(27, 52, 195);
  /* background-color: #EBFF6A; */
  border-radius: 30rem;
}

#main-section p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--inactive);
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin-top: 2.1rem;
  margin-left: 0.8rem;
}

.visit {
  cursor: pointer;
  color: var(--inactive);
  font-size: 1.2rem;  
  font-weight: 500;
  display: inline-block;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
}

.visit:hover {
  color: var(--active);
}

.section-content {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100%;
  max-width: 830px;
}


/* 섹션1 */

#section1 .section-content {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.text-box h1 {
  padding-left: 0.8rem;
}

.text-box > p {
  line-height: 2rem;
  background-color: #1a1a1a;
  border-radius: 1rem;
  padding: 2.2rem 2.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 3.9rem;
}

.skills p {
  font-size: 1.1rem;
  margin: 0;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #1a1a1a;
  padding: 0.8rem 0.35rem;
  text-align: center;
}

/* 섹션2 */

.project-box h1 {
  padding-left: 0.8rem;
}

.project-wrap {
  display: flex;
  gap: 1.2rem;
  position: relative;
}

.project-wrap div {
  width: 100%;
  height: 17rem;
  border-radius: 1.1rem;
  padding: 0 1rem;
  background-color: #1a1a1a;
}

.fa-solid {
  margin-top: 0.2rem
}

.project-wrap a:nth-of-type(1) {
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.7rem 0.3rem;
  background-color: var(--active);
  color: var(--bg);
  border-radius: 1rem;
}

.project-wrap a:nth-of-type(2) {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--inactive);
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-wrap a:nth-of-type(2):hover {
  color: var(--active);
}

/* 섹션3 */

#section3 h1, 
#section3 p {
  padding-left: 0.8rem;
}

#section3 p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

#section3 h3 {
  font-size: 1.2rem;
  color: var(--inactive);
  margin-top: 17.3rem;
  border-bottom: 1.5px solid var(--inactive);
  margin-left: 0.8rem;
}


/* 반응형 */

@media screen and (max-width: 575.98px) {
  
  /* .menu {
    top: 70%;
    gap: 0.6rem;
  } */


  svg {
    display: block;
    width: 7rem;
    height: 5rem;
    padding-bottom: 1.5rem;
  }


  
  .visit {
    font-size: 1rem;  
    display: inline-block;
    margin-top: 0.2rem;
  }

}
