:root {
  --bg: #000;
  --active: #ffffff;
  --inactive: #676767f3;
}


html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--active);
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  max-width: 1500px;
}

/* 메뉴 */

.menu {
  position: fixed;
  right: 5.5%;
  top: 53%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  max-width: 900px;
}

svg {
  display: block;
  margin-bottom: -3rem 
}

.menu .item {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--inactive);
  cursor: pointer;
  transition: all 0.5s ease;
}

.menu .item.active {
  color: var(--active);
  transform: translateX(0);
  opacity: 1;
}

.menu .item.inactive {
  transform: translateX(5vw);
  opacity: 0.4;
}

/* 섹션 스타일 */

#main-section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0rem;
  box-sizing: border-box;
}

.main-content {
  max-width: 1000px;
  padding: 2.5rem;
}

#main-section h2 {
  font-size: 9rem;
  font-weight: 500;
  margin: 0;
  transform: translate(-0.3rem);
}

#main-section span {
  font-size: 3.6rem;
  font-weight: 500;
  margin: 0;
  background-color: rgb(27, 52, 195);
  border-radius: 30rem;
  padding: 0.5rem 0.3rem;
}

#main-section p {
  font-size: 1.3rem;
  font-weight: bold;
  font-weight: 500;
  font-style: normal;
  color: #636363;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin-top: 2rem;
}

.visit {
  cursor: pointer;
  color: #636363;
  font-size: 1.2rem;  
  display: inline-block;
  margin-top: 0.7rem;
}

.visit:hover {
  color: var(--active);
}

/* 섹션1 */

.section-content {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin-top: 3rem;
}

.section-content p {
  line-height: 2rem;
  margin-top: 1.5rem;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem; 
}

.skills p {
  display: flex;    
  justify-content: center;
  align-items: center;
  width: 8rem;       
  height: 8rem; 
  font-weight: bold;
  border: 2px solid var(--inactive);
  border-radius: 50%;
  background-color: #30303090;
}




/* 반응형 */

@media screen and (max-width: 575.98px) {
  
  .menu {
    top: 70%;
    gap: 0.6rem;
  }

  .menu .item {
    font-size: 2rem;
  }

  svg {
    display: block;
    width: 7rem;
    height: 5rem;
    padding-bottom: 1.5rem;
  }

  #section0 h2 {
    font-size: 3.8rem;
    transform: translate(0.2rem);

  }

  #section0 span {
    font-size: 1.5rem;
    display: inline-block;
  }
  
  #section0 p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 2rem;
  }
  
  .visit {
    font-size: 1rem;  
    display: inline-block;
    margin-top: 0.2rem;
  }

 

  

}
